header {
  width: 100%;
  height: 4rem;
  background-color: linear-gradient(rgba(9, 11, 78, 0.5), rgba(62, 31, 112, 0.5)); }
  header .navbar .items {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0; }
  header .navbar ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end; }
    header .navbar ul a {
      height: 3,75rem;
      text-decoration: none;
      text-align: center;
      color: black;
      font-family: 'Times New Roman', Times, serif; }
      header .navbar ul a:hover {
        background-color: antiquewhite;
        height: 100%;
        color: antiquewhite; }

/*CONTACT.HTML*/
.header_us {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0; }

/*TAROT.HTML*/
.header_tarot, .header_pendulum, .header_bijouterie, .header_oracle {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  height: 20vh; }
  .header_tarot .back, .header_pendulum .back, .header_bijouterie .back, .header_oracle .back {
    background-color: #FFD700;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .header_tarot .back a, .header_pendulum .back a, .header_bijouterie .back a, .header_oracle .back a {
      text-decoration: none; }

/*PENDULUM.HTML*/
.header_pendulum button {
  background-color: #2fa1a1;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .header_pendulum button a {
    text-decoration: none; }

/*BIJOUTERIE.HTML*/
.header_bijouterie button {
  background-color: #aea5ff;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .header_bijouterie button a {
    text-decoration: none; }

/*ORACLE.HTML*/
.header_oracle .brand {
  font-size: 2em;
  margin-bottom: 10px; }

.header_oracle button {
  background-color: #940404;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .header_oracle button a {
    text-decoration: none;
    color: white; }

/*LIBROS.HTML*/
.header_libros {
  background-color: #2e0c4e;
  padding: 20px;
  text-align: center;
  height: 20vh; }
  .header_libros .back {
    background-color: #ffd900;
    text-decoration: none;
    color: #a71010;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .header_libros .back a {
      text-decoration: none; }

/*GRIMORIOS.HTML*/
.header_grim {
  background-color: black;
  color: #640d07;
  padding: 20px;
  text-align: center;
  height: 20vh; }
  .header_grim .back {
    background-color: #b8b6ad;
    text-decoration: none;
    color: #a71010;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .header_grim .back a {
      text-decoration: none; }

/*ABOUT*/
.about .navbar {
  height: 120px; }

main {
  width: 100%; }
  main .bg-image {
    background-image: url("https://i.ibb.co/DVB5tNW/Fondo.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    main .bg-image .marquee {
      font-size: clamp(4ve 4rem 8vw);
      overflow: hidden;
      animation: "slideleft 30s non-linear repeat"; }

@keyframes marquee {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
      main .bg-image .marquee .marquee--long {
        font-size: 1.25rem; }
        main .bg-image .marquee .marquee--long span {
          display: inline-block;
          width: var(--tw);
          text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
          will-change: repeat;
          animation: marquee var(--ad) linear infinite; }
          main .bg-image .marquee .marquee--long span .reel a {
            width: 100%; }
            main .bg-image .marquee .marquee--long span .reel a img {
              width: 90px;
              height: 90px; }
    main .bg-image .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .bg-image .info h2 {
        color: lightgray;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px black; }
      main .bg-image .info p {
        color: #a77907;
        text-shadow: 1px 1px black;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center; }

/*TREE.HTML*/
.body_tree {
  margin: 0;
  overflow: hidden;
  background-image: url("../assets/binah.gif");
  background-repeat: no-repeat;
  background-size: cover; }
  .body_tree #showreel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body_tree #showreel-container #essay-container {
      position: absolute;
      width: 60%;
      height: 60%;
      background: rgba(243, 237, 217, 0.9);
      padding: 20px;
      border-radius: 10px;
      overflow: auto;
      text-align: justify; }
      .body_tree #showreel-container #essay-container .text_tree {
        color: black;
        font-size: larger;
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        overflow: auto;
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/*ENTER.HTML*/
.enter_main {
  background-image: url("../assets/orb.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 35em; }
  .enter_main button {
    margin-left: 45%;
    margin-top: 28%;
    background-color: black;
    color: black;
    text-decoration: none; }
    .enter_main button a {
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
      color: indigo;
      text-shadow: none;
      text-decoration: none;
      background-color: black; }

/*LOG-IN.HTML*/
.login-body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("../assets/apollo.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .login-body #login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center; }
    .login-body #login-container .login-input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box; }
    .login-body #login-container .login-button {
      background-color: #fff34e;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer; }
      .login-body #login-container .login-button:hover {
        background-color: #e2d40c; }

/*STORE.HTML*/
.body_store {
  margin: 0;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/kabbala.gif");
  background-size: 120% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 155rem;
  margin-top: 25px; }
  .body_store .tree-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    .body_store .tree-container .circle-link {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.7);
      color: black;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      transition: transform 0.3s; }
      .body_store .tree-container .circle-link:hover {
        background-color: goldenrod; }

/*SCREEN-RESOLUTION 1440X720*/
.circle-link:nth-child(1) {
  top: -80.5%;
  left: 43.5%; }

.circle-link:nth-child(2) {
  top: -53%;
  left: 78%; }

.circle-link:nth-child(3) {
  top: -53%;
  left: 9%; }

.circle-link:nth-child(4) {
  top: 3%;
  left: 9%; }

.circle-link:nth-child(5) {
  top: 3%;
  left: 78%; }

.circle-link:nth-child(6) {
  top: 27%;
  left: 43.5%; }

.circle-link:nth-child(7) {
  top: 87%;
  left: 43.5%; }

.circle-link:nth-child(8) {
  top: 55%;
  left: 78%; }

.circle-link:nth-child(9) {
  top: 55%;
  left: 9%; }

.circle-link:nth-child(10) {
  top: 139%;
  left: 43.5%; }

/*CONTACT.HTML*/
.body_us {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0cb1; }
  .body_us .main_us {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(138, 12, 223, 0.1);
    border-radius: 5px; }
  .body_us label {
    display: block;
    margin-bottom: 8px; }
  .body_us input,
  .body_us textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box; }
    .body_us input button,
    .body_us textarea button {
      background-color: #333333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer; }

/*TAROT.HTML*/
.body_tarot {
  background-size: cover;
  color: #fff; }
  .body_tarot .main_tarot {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Rosy_Cross_color.png/640px-Rosy_Cross_color.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 500px; }
    .body_tarot .main_tarot .product {
      text-align: center;
      margin: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      border-radius: 10px; }
      .body_tarot .main_tarot .product .product img {
        height: 25px;
        max-width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px; }
        .body_tarot .main_tarot .product .product img .price {
          color: #fff;
          font-size: medium; }
        .body_tarot .main_tarot .product .product img:hover {
          background-color: #FFC300; }

/*PENDULUM.HTML*/
.body_pendulum {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  color: #fff;
  font-family: 'Arial', sans-serif;
  align-items: center; }
  .body_pendulum .main_pendulum {
    background-image: url("https://i.pinimg.com/originals/ab/6b/df/ab6bdff88d4c584422cc8ada133f8fea.gif");
    background-position: center;
    padding: 20px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body_pendulum .main_pendulum .product {
      text-align: center;
      margin: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      border-radius: 10px;
      display: inline-block; }
      .body_pendulum .main_pendulum .product .product img {
        border: 20px solid #ddd;
        border-radius: 5px; }
        .body_pendulum .main_pendulum .product .product img .price {
          color: #fff; }
        .body_pendulum .main_pendulum .product .product img .add-to-cart {
          background-color: #FFD700;
          color: #333;
          padding: 10px 20px;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease; }

/*BIJOUTERIE.HTML*/
.body_bijouterie {
  margin: 0;
  padding: 0;
  color: #fff; }
  .body_bijouterie .main_bijouterie {
    background-image: url(https://i.redd.it/glla87b1nc4a1.gif);
    padding: 20px;
    height: 500px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: auto;
    display: flex;
    align-content: center;
    justify-content: center; }
    .body_bijouterie .main_bijouterie .product {
      text-align: center;
      margin: 20px;
      height: 360px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      border-radius: 10px; }
      .body_bijouterie .main_bijouterie .product img {
        height: 250px;
        max-width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px; }
      .body_bijouterie .main_bijouterie .product .price {
        color: #fff; }

/*ORACLE.HTML*/
.main_oracle {
  background-image: url("https://www.estambul.net/wp-content/uploads/2015/08/Oraculo-de-Delfos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 27.3rem;
  display: flex;
  align-content: center;
  justify-content: center; }
  .main_oracle .product {
    text-align: center;
    margin: 20px;
    height: 360px;
    background-color: rgba(253, 253, 253, 0.6);
    padding: 15px;
    border-radius: 10px; }
    .main_oracle .product img {
      height: 200px;
      max-width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px; }
    .main_oracle .product h2 {
      font-size: 1.5em; }
    .main_oracle .product .price {
      color: #000000;
      font-size: 1.2em; }
      .main_oracle .product .price .add-to-cart {
        background-color: #dde027;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s ease; }
        .main_oracle .product .price .add-to-cart:hover {
          background-color: #2980b9; }

/*LIBROS.HTML*/
.main_libros {
  background-image: url("https://i.pinimg.com/originals/de/df/2a/dedf2a28629d3b144884a23c07238298.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 27.3rem;
  display: flex;
  align-content: center;
  justify-content: center; }
  .main_libros .product {
    text-align: center;
    margin: 20px;
    height: 360px;
    background-color: rgba(253, 253, 253, 0.6);
    padding: 15px;
    border-radius: 10px; }
    .main_libros .product img {
      height: 200px;
      max-width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px; }
    .main_libros .product h2 {
      font-size: 1.5em; }
    .main_libros .product .price {
      color: #000000;
      font-size: 1.2em; }
      .main_libros .product .price .add-to-cart {
        background-color: #dde027;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s ease; }
        .main_libros .product .price .add-to-cart:hover {
          background-color: #2980b9; }

/*GRIMORIOS.HTML*/
.main_grim {
  background-image: url("https://64.media.tumblr.com/8862be46ba5333876759ee7aecc12829/tumblr_nxexvpMGlV1rmu963o1_500.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 27.3rem;
  display: flex;
  align-content: center;
  justify-content: center; }
  .main_grim .product {
    text-align: center;
    margin: 20px;
    height: 360px;
    background-color: rgba(253, 253, 253, 0.6);
    padding: 15px;
    border-radius: 10px; }
    .main_grim .product img {
      height: 200px;
      max-width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px; }
    .main_grim .product h2 {
      font-size: 1.5em; }
    .main_grim .product .price {
      color: #000000;
      font-size: 1.2em; }
      .main_grim .product .price .add-to-cart {
        background-color: #dde027;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s ease; }
        .main_grim .product .price .add-to-cart:hover {
          background-color: #2980b9; }

/*AVISO.HTML*/
.aviso {
  background-image: url("https://i.pinimg.com/originals/b2/6b/4a/b26b4a2aeb444b4b648564c805392156.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .aviso h1 {
    color: blanchedalmond;
    align-items: center;
    justify-content: center; }

.about {
  width: 100% 100%; }
  .about .about_main {
    background-image: url("https://images.squarespace-cdn.com/content/v1/59243760ff7c509d1fed851d/1500998657877-TCZ5MFTI2W6INKN9CFIW/Jim%20Lee-Way%20up%20in%20the%20middle%20of%20the%20air.jpg");
    background-size: cover;
    color: white; }
    .about .about_main .container {
      height: 60rem; }
      .about .about_main .container .col-lg-8 {
        margin-top: 100px; }
      .about .about_main .container p {
        color: rgba(0, 0, 0, 0.6);
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        text-shadow: 1px 1px black; }
  .about .colg-lg-4 {
    border-radius: 20px;
    border-color: black; }

footer .barraInferior button {
  width: 100%;
  display: flex;
  align-items: end;
  color: black;
  font-family: helvetica; }
  footer .barraInferior button a {
    text-decoration: none;
    text-align: center;
    text-transform: bold;
    font-family: 'Times New Roman', Times, serif; }
  footer .barraInferior button:hover {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif; }

/*TAROT.HTML*/
.footer_tarot {
  height: 120px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333; }
  .footer_tarot .forward {
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .footer_tarot .forward a {
      text-decoration: none; }

/*PENDULUM.HTML*/
.footer_pendulum {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px; }
  .footer_pendulum .forward {
    background-color: #c8ff00;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .footer_pendulum .forward a {
      text-decoration: none; }

/*BIJOUTERIE.HTML*/
.footer_bijouterie {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer_bijouterie .forward {
    background-color: #ffbfbf;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .footer_bijouterie .forward a {
      text-decoration: none; }

/*ORACLE.HTML*/
.footer_oracle {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer_oracle .forward {
    background-color: #530d0d;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .footer_oracle .forward a {
      text-decoration: none;
      color: white; }

/*LIBROS.HTML*/
.footer_libros {
  background-color: rgba(223, 255, 163, 0.8);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer_libros .forward {
    background-color: #70f7bf;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .footer_libros .forward a {
      text-decoration: none;
      color: white; }

/*GRIMORIOS.HTML*/
.footer_grim {
  background-color: #470202;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer_grim .forward {
    background-color: #990026;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .footer_grim .forward a {
      text-decoration: none;
      color: white; }

/*INDEX.HTML*/
@media (max-width: 1024px) {
  body {
    width: 100%;
    height: 100%; }
    body .bg-image {
      height: 150vh; }
      body .bg-image p {
        width: 100%;
        color: goldenrod;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center; }
        body .bg-image p footer {
          justify-content: flex-end; } }

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 100%; }
    header .navbar {
      display: flex;
      flex-wrap: nowrap; }
      header .navbar ul {
        justify-content: right;
        padding: 12px; }
        header .navbar ul a {
          margin: 6px; }
          header .navbar ul a:hover {
            padding: 0;
            height: 100%; } }

@media (max-width: 425px) {
  body {
    width: 142.5%;
    height: 100%; }
    body header {
      width: 100%;
      height: 100%; }
    body .bg-image {
      height: 150vh; }
      body .bg-image .navbar {
        display: flex;
        flex-wrap: nowrap; }
        body .bg-image .navbar ul {
          justify-content: right;
          padding: 12px; }
          body .bg-image .navbar ul a {
            margin: 6px; }
            body .bg-image .navbar ul a:hover {
              padding: 0;
              height: 100%; } }

@media (max-width: 375px) {
  body {
    width: 163%;
    height: 100%; }
    body header {
      width: 100%;
      height: 100%; }
    body .bg-image {
      height: 150vh; }
      body .bg-image .navbar {
        display: flex;
        flex-wrap: nowrap; }
        body .bg-image .navbar ul {
          justify-content: right;
          padding: 12px; }
          body .bg-image .navbar ul a {
            margin: 6px; }
            body .bg-image .navbar ul a:hover {
              padding: 0;
              height: 100%; } }

@media (max-width: 320px) {
  body {
    width: 187%;
    height: 100%; }
    body header {
      width: 100%;
      height: 100%; }
    body .bg-image {
      height: 155vh; }
      body .bg-image .info p {
        width: 100%;
        color: goldenrod;
        font-family: 'Times New Roman', Times, serif;
        font-size: 28px;
        text-align: center; } }

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation: none;
    text-shadow: none;
    width: auto;
    display: block;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
    display: repeat infinite; } }

/*TREE.HTML*/
@media (max-width: 425px) {
  .body_tree {
    margin: 0;
    overflow: hidden;
    background-image: url("../assets/binah.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 23.5% 70%;
    height: 100%; }
    .body_tree #essay-container h1 {
      font-size: smaller; }
    .body_tree #essay-container .text_tree {
      color: black;
      font-size: 10px;
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      overflow: auto;
      text-align: justify; } }

@media (max-width: 320px) {
  .body_tree {
    margin: 0;
    overflow: hidden;
    background-image: url("../assets/binah.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 27.5% 70%;
    height: 100%; }
    .body_tree #showreel-container #essay-container h1 {
      font-size: smaller; }
    .body_tree #showreel-container #essay-container .text_tree {
      color: black;
      font-size: 10px;
      text-align: space-between;
      padding: 20px;
      border-radius: 5px;
      overflow: auto;
      text-align: justify; } }

/*ENTER.HTML*/
@media (max-width: 1440px) {
  .enter_main {
    width: 100%;
    height: 54em; }
    .enter_main button {
      margin-left: 46.5%;
      margin-top: 31%; } }

@media (max-width: 1280px) {
  .enter_main {
    width: 100%;
    height: 90em; }
    .enter_main button {
      margin-left: 46%;
      margin-top: 56%; } }

@media (max-width: 1024px) {
  .enter_main {
    width: 150%;
    height: 54em; }
    .enter_main button {
      margin-left: 45%;
      margin-top: 45%; } }

@media (max-width: 768px) {
  .enter_main {
    width: 100%;
    height: 54em; }
    .enter_main button {
      margin-left: 44%;
      margin-top: 59%; } }

@media (max-width: 425px) {
  .enter_main {
    width: 100%;
    height: 84em; }
    .enter_main button {
      margin-left: 38.5%;
      margin-top: 170%; } }

@media (max-width: 375px) {
  .enter_main {
    width: 70%;
    height: 104em; }
    .enter_main button {
      margin-left: 36%;
      margin-top: 210%; } }

@media (max-width: 425px) {
  .enter_main {
    width: 71%;
    height: 100em; }
    .enter_main button {
      margin-left: 39%;
      margin-top: 195%; } }

@media (max-width: 320px) {
  .enter_main {
    width: 71%;
    height: 99em; }
    .enter_main button {
      margin-left: 39%;
      margin-top: 189%; } }

/*STORE.HTML*/
@media (max-width: 1440px) {
  .body_store {
    background-image: url("../assets/tete.png");
    background-color: none;
    background-size: cover;
    margin-top: 290px; } }

@media (max-width: 1280px) {
  .body_store {
    background-size: 100%;
    margin-left: -20px;
    margin-top: 200px; } }

@media (max-width: 1024px) {
  .body_store {
    background-image: url("https://gd-hbimg.huaban.com/9c3775239f339494ec53fab9e4c1b94ff05df25565b89-h6RQ70");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    height: 155rem; } }

@media (max-width: 768px) {
  .body_store {
    background-image: url("https://64.media.tumblr.com/f68a0e2b9db227060bf2c7bb06042e89/5b96a6843bb1cc6b-17/s500x750/25fce184afbaf80355ff5da5688f194b94603260.gif");
    background-size: 100% 100%; } }

@media (max-width: 425px) {
  .body_store {
    background-image: url("https://64.media.tumblr.com/6e31a8c6e0ce48eadd0c7bbd1c9382f3/tumblr_nevi801nPb1relaado1_400.gif");
    background-size: 100% 100%;
    background-position: cover;
    height: -400em; }
    .body_store .tree-container {
      width: 100%; }
      .body_store .tree-container .circle-link {
        background-color: rgba(255, 255, 255, 0.7);
        margin-right: 300px;
        color: black;
        border-radius: 50%;
        width: 120px;
        height: 120px; }
  .circle-link:nth-child(1) {
    top: -60.5%;
    left: 29%; }
  .circle-link:nth-child(2) {
    top: -40%;
    left: 29%; }
  .circle-link:nth-child(3) {
    top: -50%;
    left: 9%; }
  .circle-link:nth-child(4) {
    top: -20%;
    left: 9%; }
  .circle-link:nth-child(5) {
    top: -20%;
    left: 29%; }
  .circle-link:nth-child(6) {
    top: 0%;
    left: 9%; }
  .circle-link:nth-child(7) {
    top: 0%;
    left: 29%; }
  .circle-link:nth-child(8) {
    top: 20%;
    left: 29%; }
  .circle-link:nth-child(9) {
    top: 30%;
    left: 9%; }
  .circle-link:nth-child(10) {
    top: 40%;
    left: 29%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
