$BackgroundMain: hsla(238, 79%, 17%, 0.5);
$BackgroundMain2: hsla(263, 57%, 28%, 0.5);
$font-family: Arial, sans-serif;
$button-padding: 10px 20px;
$button-font-size: 16px;
$sign-size: 50px;
$container-size: 300px;
$transition-duration: 0.5s;