/*INDEX.HTML*/

 @media (max-width: 2560px){
  body{
    width: 100%;
    height: 100%;
    .bg-image{
      height: 100vh;
      .marquee{
      height: 120px;
      .reel{
        height: 200px;
      }
      h2{
        font-size: 50px;
      }
      .info{
        width: 100%;
        height: 50%;
      }
    p{
      width: 100%;
      font-size: 300px;
      font-size: large;
      text-align: center;
    }
    }
  }
 }
 }

 @media (max-width: 1440px){
  body{
    width: 100%;
    height: 100%;
    .bg-image{
      height: 100vh;
      .marquee{
      height: 120px;
      .reel{
        height: 200px;
      }
      h2{
        font-size: 50px;
      }
    p{
      width: 100%;
      font-size: 30px;
      text-align: center;
    }
    }
  }
 }
 }



@media (max-width: 1024px) {
    body {
      width: 100%;
      height: 100%;
      .bg-image{
        height: 100vh;
    p {
      width: 100%;
      color: goldenrod;
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      text-align: center;
    footer {
      justify-content: flex-end; 
    }
} 
}
}
}

@media (max-width: 768px) {
    header {
        height: 120vh;
        flex-direction: column;
        align-items: center;
      width: 100%;
      .bg-image{
        height: 120vh;
      }
    .navbar{
    display: flex;
    flex-wrap: nowrap;
    .navbar ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        padding: 12px;
    .navbar ul li {
        margin: 10px;
}
}
}
.info{
  height: 120px;
}
p {
  width: 100%;
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}
}
}

body {
  width: 100%;
  height: 100%;
p {
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: center;
footer {
  justify-content: flex-end; 
}
} 
}


@media (max-width: 425px) {
  body {
    width: 142.5%;
    height: 100%;
  header {
    width: 100%;
    height: 100%;
  }
    .bg-image{
      height: 150vh;
    .navbar{
      display: flex;
      flex-wrap: nowrap;
          ul {
    justify-content: right;
    padding: 12px;
  a{
      margin: 6px;
      &:hover{
         padding: 0;
         height: 100%;
      }
  }
}
}
p {
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: center;
}
}
}
}

  
@media (max-width: 375px) {
  body {
    width: 163%;
    height: 100%;
  header {
    width: 100%;
    height: 100%;
  }
    .bg-image{
      height: 150vh;
    .navbar{
      display: flex;
      flex-wrap: nowrap;
          ul {
    justify-content: right;
    padding: 12px;
  a{
      margin: 6px;
      &:hover{
         padding: 0;
         height: 100%;
      }
    }
  }
}
    }
  }
}

@media (max-width: 320px) {
  body {
    width: 200%;
    height: 150%;
    header {
      width: 100%;
      height: 100%;
    }
    .bg-image{
      height: 155vh;
        .info p {
          width: 100%;
          color: goldenrod;
          font-family: 'Times New Roman', Times, serif;
          font-size: 28px;
          text-align: center;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
    .marquee span {
      animation: none;
      text-shadow: none;
      width: auto;
      display: block;
      line-height: 1.5;
      text-align: center;
      white-space: normal;
      display: repeat infinite
    }
   }


  /*TREE.HTML*/

  @media (max-width: 425px){
    .body_tree {
      margin: 0;
      overflow: hidden;
      background-image: url("../assets/binah.gif");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 23.5% 70%;
      height: 100%;
    #essay-container h1{
      font-size:smaller;
}
    #essay-container .text_tree{
      color: black;
      font-size: 10px;
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      overflow: auto;
      text-align: justify;
    }
  }
}

@media (max-width: 320px){
  .body_tree {
    margin: 0;
    overflow: hidden;
    background-image: url("../assets/binah.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 27.5% 70%;
    height: 100%;
#showreel-container #essay-container h1{
      font-size:smaller;
}
#showreel-container  #essay-container .text_tree{
      color: black;
      font-size: 10px;
      text-align: space-between;
      padding: 20px;
      border-radius: 5px;
      overflow: auto;
      text-align: justify;
    }
  }
}

/*ENTER.HTML*/

@media (max-width: 1440px){
  .enter_main{
    width: 100%;
    height: 54em;
    button{
      margin-left: 46.5%;
      margin-top: 31%;
    }
  }
}

@media (max-width: 1280px){
  .enter_main{
    width: 100%;
    height: 90em;
    button{
      margin-left: 46%;
      margin-top: 56%
    }
  }
}

@media (max-width: 1024px){
  .enter_main{
    width: 150%;
    height: 54em;
  button{
    margin-left: 45%;
    margin-top: 45%;
}
}
}

@media (max-width: 768px){
  .enter_main{
    width: 100%;
    height: 54em;
  button{
    margin-left: 44%;
    margin-top: 59%;
}
}
}

@media (max-width: 425px){
  .enter_main{
    width: 100%;
    height: 84em;
  button{
    margin-left: 38.5%;
    margin-top: 170%;
}
}
}

@media (max-width: 375px){
  .enter_main{
    width: 70%;
    height: 104em;
  button{
    margin-left: 36%;
    margin-top: 210%;
}
}
}

@media (max-width: 425px){
.enter_main{
  width: 71%;
  height: 100em;
  button{
    margin-left: 39%;
    margin-top: 195%;
}
}
}

@media (max-width: 320px){
  .enter_main{
    width: 71%;
    height: 99em;
  button{
    margin-left: 39%;
    margin-top: 189%;
}
}
}

/*STORE.HTML*/

@media (max-width: 1440px){
  .body_store{
    background-image: url('../assets/tete.png');
    background-color: none;
    background-size: cover;
    margin-top: 290px;
  }
}

@media (max-width: 1280px){
  .body_store{
    background-size: 100%;
    margin-left: -20px;
    margin-top: 200px;
  }
}

@media (max-width: 1024px){
  .body_store{
    background-image: url("https://gd-hbimg.huaban.com/9c3775239f339494ec53fab9e4c1b94ff05df25565b89-h6RQ70");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    height: 155rem;
}
}

@media (max-width: 768px){
  .body_store{
    background-image: url("https://64.media.tumblr.com/f68a0e2b9db227060bf2c7bb06042e89/5b96a6843bb1cc6b-17/s500x750/25fce184afbaf80355ff5da5688f194b94603260.gif");
    background-size: 100% 100%;
  }
}

@media (max-width: 425px){
  .body_store{
    background-image: url("https://64.media.tumblr.com/6e31a8c6e0ce48eadd0c7bbd1c9382f3/tumblr_nevi801nPb1relaado1_400.gif");
    background-size: 100% 100%;
    background-position: cover;
    height: -400em;
    .tree-container{
    width: 100%;
    .circle-link {
      background-color: rgba(255, 255, 255, 0.7);
      margin-right: 300px;
      color: black;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      }
      }
    }

      .circle-link:nth-child(1) { top: -60.5%; left: 29%; }
      .circle-link:nth-child(2) { top: -40%; left: 29%; }
      .circle-link:nth-child(3) { top: -50%; left: 9%; }
      .circle-link:nth-child(4) { top: -20%; left: 9%; }
      .circle-link:nth-child(5) { top: -20%; left: 29%; }
      .circle-link:nth-child(6) { top: 0%; left: 9%; }
      .circle-link:nth-child(7) { top: 0%; left: 29%; }
      .circle-link:nth-child(8) { top: 20%; left: 29%; }
      .circle-link:nth-child(9) { top: 30%; left: 9%; }
      .circle-link:nth-child(10) { top: 40%; left: 29%; }

    }